html p,
body p {
  font-size: 20px;
}

form input,
form textarea {
  font-size: 1.2em;
  line-height: 1.5em;
}

#volunteer-items {
  margin-top: 2em;
}

#volunteer-items h4 {
  border-bottom: 1px solid #222;
}

#volunteer-items .log-item {
  padding-top: 2em;
  padding-bottom: 2em;
}

#volunteer-items .log-item .row {
  margin-bottom: 1.5em;
}

#volunteer-items .log-item + .log-item {
  border-top: 1px dotted #222;
}

textarea[name=details] {
  min-height: 100px;
}

.hide {
  opacity: 0.5;
}

#thank-you {
  display: none;
}

#thank-you.show {
  display: block;
}
